# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# virtual environments
.venv

# misc
.coverage
coverage.xml
coverage.json
.ruff_cache
.pytest_cache
.mypy_cache
.DS_Store


# Home Assistant configuration
home-assistant*
known_devices.yaml
.HA_VERSION
.storage
.cloud
.storage/core.restore_state

# mkdocs site
site/

# Node modules
node_modules/
